html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    background-image: url("bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 15px 15px 20px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #647E68;
    color: white;
}
.input-group input::placeholder {
    color: white;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
}
a {
    text-decoration: none;
    color: rgb(14, 195, 214)
}

.login-button {
    padding: 5px 15px;
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: #647E68;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.signup-prompt {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}

.contact-us-title {
    padding-left: 30px;
    height: 50px;
    margin: 0;
}
.contact-us-title h1 {
    color:cornflowerblue;
}

.support-container {
    
    display: flex;
}

.support-form {
    background-color: lightgray;
    width: 70%;
    height: calc(100vh - 50px);
    margin: 0 20px;
    border-radius: 5px;
    margin-top: 20px;
}

input, select, button.support-form {
    padding: 7px;
    margin-top: 3px;
}

.submit-button {
    margin-top: 100px;
    background-color: orangered;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.support-info {
    font-size: 0.8rem;
}

.support247 {
    display: flex;
    background-color: #0E5E6F;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.support-text {
    color: white;
    font-weight: 600;
}

.support-button {
    text-decoration: none;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}

.support-icon {
    width: 30%;
}

.static-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: lightgray;
}

.sales-container {
    display: flex;
}

.static-info-icon {
    width: 40px;
}

.static-info-text {
    color: black;
    font-weight: 600;
}

.hours-container {
    display: flex;
}

.hours-inside {
    display: flex;
    flex-direction: column;
}

.hours-inside p, h3 {
    margin: 0;
}

.hours-inside-1 {
    margin-bottom: 8px;
}

.hours-inside-2 {
    margin-bottom: 20px;
}

.email-container {
    display: flex;
}

.email-container p {
    margin: 0;
}

.g-recaptcha {
    display: inline-block;
    width: 100%;
    height: 5px;
}